

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'IBM Plex Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #8C8C8C;
$mainColor: #BCA47C;
$mainColor2: #0E3C67;
$hover: #E3CA9F;
