@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== normalize ===========================================================================================
@import "normalize";
// ==== // normalize ===========================================================================================

// ==== bootsrap grid ===========================================================================================
@import "bootstrap-grid.min";
// ==== // bootsrap grid ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
[disabled] {
	pointer-events: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		& ._preload-body {
			opacity: 0;
			visibility: hidden;

			&:before {
				display: none;
			}
		}
	}
}

._preload-body {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: all 0.6s ease 0.2s;

	&:before {
		position: absolute;
		content: "";
		z-index: 999;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 4px solid #6e6e6e;
		border-right: 4px solid #fff;
		transform: translate(-50%, -50%);
		animation: preloadBody 2s linear infinite;
	}
}

@keyframes preloadBody {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;

	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._padding-top {
	margin-top: 173px;

	@media (max-width: $md2+px) {
		margin-top: 123px;
	}

	@media (max-width: $md4+px) {
		margin-top: 105px;
	}
}

.container {
	max-width: 1340px !important;
	margin: 0 auto;
	padding: 0 25px !important;
	width: 100%;

	@media (max-width: 375.98px) {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title {
	font-weight: bold;
	font-size: 30px;
	line-height: 139%;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: $mainColor2;
}
.title-1 {
	font-weight: 600;
	font-size: 35px;
	line-height: 139%;
	margin-top: 0;
	margin-bottom: 0;
	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}
.title-2 {
	font-size: 39px;
	line-height: 139%;
	font-weight: 700;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: $mainColor2;
	@media (max-width: $md3+px) {
		font-size: 32px;
	}
}

.title-3 {
	font-weight: 600;
	font-size: 25px;
	line-height: 139%;

	@media (max-width: $md3+px) {
		font-size: 20px;
		line-height: 137%;
	}
}

.title-4 {
	font-weight: bold;
	font-size: 21px;
	line-height: 139%;
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	min-width: 156px;
	padding: 8px 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #ffffff;
	background: $mainColor2;
	border-radius: 4px;
	transition: all 0.3s ease;
	cursor: pointer;
	@media (min-width: 992px) {
		&:hover {
			background-color: $hover2;
		}
	}

	&.btn-default_white {
		background-color: #fff;
		border: 1px solid $mainColor2;
		color: $mainColor2;

		@media (min-width: 992px) {
			&:hover {
				border-color: $hover;
				color: #fff;
			}
		}
	}
}

button.btn-default {
}

.plus {
	position: relative;
	width: 16px;
	height: 16px;
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 3px;
		height: 100%;
		background-color: $mainColor2;
	}
	&:after {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 3px;
		background-color: $mainColor2;
	}
}

// === and btn ========================================================================
.input-item {
	display: block;

	& > span {
		display: block;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: #676767;
		margin-bottom: 5px;

		& > span {
			color: #bf0050;
		}
	}

	&.input-item_address {
		& .textarea {
			height: 76px;
		}
	}
}

.input {
	background: #f1f1f1;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.03em;
	color: #666666;
	padding: 8px 13px;
	width: 100%;
	height: 44px;
}

.textarea {
	background: #f1f1f1;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.03em;
	color: #666666;
	padding: 8px 13px;
	width: 100%;
	resize: none;
	height: 171px;
}

.link {
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	line-height: 125%;
	display: inline-flex;
	align-items: center;
	border-bottom: 1px solid #fff;
	transition: all 0.3s ease;
	@media (min-width: 992px) {
		&:hover {
			opacity: 0.6;

			&:after {
				transform: translateX(5px);
			}
		}
	}

	&:after {
		font-family: "icomoon";
		content: "\e905";
		font-size: 12px;
		margin-left: 4px;
		transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}

.form {
	&.popup-log-in {
		& .form__submit {
			margin-bottom: 39px;
		}

		& .form__content {
			padding-bottom: 22px;
		}
	}
	&__content {
		&.popup_content {
			background: #ffffff;
			box-shadow: 0px 22px 20px 6px rgba(0, 0, 0, 0.15);
			border-radius: 13px;
			max-width: 574px;
			position: relative;
			padding: 33px 45px 45px;
			text-align: left;
			overflow: hidden;

			@media (max-width: 575.98px) {
				padding: 40px 15px 25px;
			}
		}
	}

	&__close {
		position: absolute;
		padding: 5px;
		transition: all 0.3s ease;
		top: 15px;
		right: 15px;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba($mainColor2, 0.2);
			}
		}

		& > span {
			position: relative;
			width: 24px;
			height: 24px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 4px;
				height: 100%;
				background-color: $mainColor2;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 4px;
				background-color: $mainColor2;
			}
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__item {
		margin-bottom: 19px;
		&_valid {
			margin-top: 82px;
			margin-bottom: 24px;

			& .form__label {
				display: grid;
				grid-template-columns: 198px 64px minmax(150px, 1fr);
				column-gap: 4px;
				row-gap: 10px;
				grid-auto-flow: row;

				& > span {
					grid-column: span 3;
					margin-bottom: -3px;
				}

				@media (max-width: 575.98px) {
					grid-template-columns: 198px 40px;
					& .form__input {
						grid-column: span 2;
					}
				}
			}
		}

		&_flex {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 5px;
			margin-bottom: 38px;

			& > * {
				flex: 0 0 auto;
				margin-bottom: 10px;
			}

			& .checkbox-wrap {
				margin-right: 20px;
			}
		}
	}

	&__link {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: $mainColor2;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				color: $hover2;
			}
		}
	}

	&__checkbox {
		& .checkbox-wrap__label {
			font-size: 14px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: #676767;

			&:before {
				margin-top: 2px;
			}
		}
	}

	&__label {
	}

	&__input {
	}

	&__textarea {
	}

	&__valid-img {
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;

		& img {
			width: 100%;
			height: 100%;
		}
	}

	&__reload {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $mainColor2;
		height: 39px;
		width: 39px;
		flex: 0 0 39px;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				background-color: #9d8660;
			}
		}
	}

	&__submit {
		margin-bottom: 5px;
	}

	&__agreement {
		font-size: 13px;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: #8c8c8c;

		& > a {
			color: $mainColor2;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	&__footer {
		position: relative;
		padding: 43px 0 0px;
		align-items: center;
		z-index: 10;

		@media (min-width: 480px) {
			display: flex;
		}

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% + 100px);
			height: calc(100% + 100px);
			background: #e3e3e3;
			z-index: -1;
		}

		& .form__btn {
			flex: 0 0 auto;
			margin-right: 34px;
			margin-bottom: 15px;
		}

		& .form__text {
			flex: 1 1 auto;
			margin-bottom: 15px;
		}
	}

	&__btn {
		&.btn-default.btn-default_white {
			color: #5e616b;
			border-color: #5e616b;
		}
	}

	&__text {
		font-size: 12px;
		line-height: 145%;
		letter-spacing: -0.03em;
		color: #8c8c8c;
	}

	& .social {
		margin-bottom: 29px;
	}

	&__wrap {
		position: relative;
	}

	&__input-info {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		font-size: 13px;
		line-height: 210%;
		letter-spacing: -0.03em;
		color: #8c8c8c;
	}
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.03em;

	@media (max-width: $md3+px) {
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}

	& h1 {
		font-weight: bold;
		font-size: 39px;
		line-height: 139%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $mainColor2;
		margin-top: 0;
		margin-bottom: 7px;
	}
	& h2 {
		font-weight: bold;
		font-size: 35px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: #3d4d66;
		margin-bottom: 0.5em;

		@media (max-width: $md3+px) {
			font-weight: bold;
			font-size: 22px;
			line-height: 140%;
		}
	}

	& h3 {
		font-weight: bold;
		font-size: 30px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: #bca47c;
		margin-bottom: 0.5em;

		@media (max-width: $md3+px) {
			font-weight: bold;
			font-size: 26px;
			line-height: 150%;
		}
	}
	& h4 {
		font-weight: bold;
		font-size: 26px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: #3d4d66;
		margin-bottom: 0.5em;
		text-transform: uppercase;

		@media (max-width: $md3+px) {
			font-weight: bold;
			font-size: 24px;
			line-height: 140%;
		}
	}

	& h5 {
		font-weight: bold;
		font-size: 23px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: #3d4d66;
		margin-bottom: 0.67em;
		display: flex;
		@media (max-width: $md3+px) {
			font-size: 22px;
			line-height: 140%;
		}

		& img {
			display: inline-block;
			max-height: 32px;
			width: auto;
			margin-right: 8px;
		}
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.56em;

		& ~ h2 {
			margin-top: 1.6em;
		}

		& ~ h3 {
			margin-top: 1.6em;
		}

		& ~ h5 {
			margin-top: 1em;
		}

		&.text-big, & big {
			font-weight: 600;
			font-size: 22px;
			line-height: 150%;
			letter-spacing: -0.03em;
			margin-bottom: 1.3em;

			@media (max-width: $md3+px) {
				font-weight: bold;
				font-size: 14px;
				line-height: 150%;
			}
		}

		& a {
			color: $mainColor;
			text-decoration: underline;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}

		& i {
			font-size: 15px;
			line-height: 180%;
			letter-spacing: -0.03em;
		}

		& img {
			float: left;
			margin-right: 26px;
			margin-bottom: 50px;
			max-width: 100%;

			@media (max-width: $md3+px) {
				float: none;
				width: 100%;
				margin-bottom: 10px;
			}
		}

		&.has-img {
			@media (min-width: 768px) {
				padding-top: 21px;
			}
			& + * {
				clear: both;
			}
		}
	}
	& b {
		display: block;
		font-style: italic;
		font-weight: 300;
		font-size: 24px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: $mainColor;
		padding-left: 0;
		margin-bottom: 1.7em;

		@media (max-width: $md3+px) {
			font-size: 20px;
		}

		& ~ h3 {
			margin-top: 2.7em;
		}

		& a {
			color: $mainColor;
			text-decoration: underline;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	& ul {
		margin-bottom: 1.5em;

		&:last-child {
			margin-bottom: 0;
		}

		& > li {
			position: relative;
			padding-left: 15px;

			&:before {
				position: absolute;
				content: "•";
				top: 0px;
				left: 0;
			}

			& a {
				color: $mainColor;
				text-decoration: underline;
				transition: all 0.3s ease;
	
				@media (min-width: 992px) {
					&:hover {
						color: $hover2;
					}
				}
			}
		}
	}

	& ol {

		& a {
			color: $mainColor;
			text-decoration: underline;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	q {
		display: block;
		padding-left: 22px;
		font-style: italic;
		font-weight: normal;
		font-size: 18px;
		line-height: 180%;
		position: relative;
		letter-spacing: -0.03em;
		margin-bottom: 1.56em;

		& ~ h3 {
			margin-top: 2.7em;
		}

		&:before {
			position: absolute;
			content: "";
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: calc(100% - 18px);
			width: 1px;
			background-color: $mainColor;
		}

		&:after {
			display: none;
		}

		@media (max-width: $md3+px) {
			font-size: 16px;
		}

		& a {
			color: $mainColor;
			text-decoration: underline;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	& figure {
		margin: 3.6em 0 2em;

		@media (max-width: $md3+px) {
			margin-bottom: 10px;
		}

		& img {
			width: 100%;
			height: auto;

			@media (max-width: $md3+px) {
				min-height: 181px;
				object-fit: cover;
			}
		}
	}

	& table {
		width: 100%;
		border-collapse: collapse;
		margin: 26px 0 70px;

		@media (max-width: $md3+px) {
			margin-bottom: 37px;
		}
		& th {
			height: 41px;
			font-weight: bold;
			font-size: 15px;
			line-height: 120%;
			letter-spacing: -0.03em;
			text-transform: uppercase;
			color: #8c8c8c;
			text-align: right;

			@media (max-width: $md3+px) {
				font-size: 12px;
				line-height: 150%;
			}

			&:first-child {
				text-align: left;
			}

			&:not(:last-child) {
				padding-right: 15px;
			}
		}

		& td {
			height: 33px;
			border-top: 1px solid #c4c4c4;
			border-bottom: 1px solid #c4c4c4;
			text-align: right;
			font-weight: normal;
			font-size: 15px;
			line-height: 1.2em;
			letter-spacing: -0.03em;
			padding-top: 10px;
			padding-bottom: 10px;

			&:not(:last-child) {
				padding-right: 15px;
			}

			@media (max-width: $md3+px) {
				font-size: 12px;
			}

			&:first-child {
				text-align: left;
				max-width: 200px;
			}
		}

		& tr {
			&:nth-child(even) {
				& td {
					background: rgba(#c4c4c4, 0.2);
				}
			}
		}

		& a {
			color: $mainColor;
			text-decoration: underline;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	& .row {
		margin-left: -7.5px;
		margin-right: -7.5px;
		margin-bottom: 34px;
	}

	& [class^="col"] {
		padding: 0 7.5px;

		&:not(:first-child) {
			@media (max-width: $md3+px) {
				& > h5 {
					margin-top: 1em;
				}
			}
		}

		& > img {
			display: block;
			width: 100%;
			height: 380px;
			object-fit: cover;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	& .list {
		margin-top: 3em;
		& .row {
			margin-bottom: 3.93em;

			@media (max-width: $md3+px) {
				margin-bottom: 2.93em;
			}
			& [class^="col"] {
				& img {
					height: 100%;
				}
			}
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

.table-scroll-x {
	overflow-x: auto;

	& table {
		min-width: 500px;
	}
}


// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/checkbox/checkbox";
@import "../common/catalog/catalog";
@import "../common/instagram/instagram";
@import "../common/address-block/address-block";
@import "../common/breadcrumb/breadcrumb";
@import "../common/viewed-products/viewed-products";
@import "../common/price-slider/price-slider";
@import "../common/filter/filter";
@import "../common/pagination/pagging";
@import "../common/logos-list/logos-list";
@import "../common/hero/hero";
@import "../common/social/social";
@import "../common/quantity/quantity";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================
@import "pages/#home";
@import "pages/#catalog-page";
@import "pages/#single-product";
@import "pages/#service";
@import "pages/#about";
@import "pages/#basket";
@import "pages/#order";
@import "pages/#cabinet-registr";
@import "pages/#main-catalog";
@import "pages/#blog";
@import "pages/#blog-detail";
@import "pages/#cabinet";
@import "pages/#message-after-order";
// ==== AND PAGES =====================================================
