.footer {
    background-color: #0c1b31;
    padding-top: 81px;
    padding-bottom: 48px;

    @media (max-width: $md3+px) {
        padding-top: 22px;
    }

    &__body {
        @media (min-width: 576px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
        }
    }

    &__col {
        margin-bottom: 41px;
    }

    @media (min-width: 576px) {
        &__col {
            flex: 1 1 auto;
            margin-bottom: 41px;
            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    
        &__col-1 {
            max-width: 225px;
        }
        &__col-2 {
            max-width: 159px;
        }
    
        &__col-3 {
            max-width: 159px;
        }
    
        &__col-4 {
            max-width: 159px;
        }
    
        &__col-5 {
            max-width: 327px;
        }
        &__col-6 {
            max-width: 244px;
        }
    }

    &__title {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 139%;
        color: #ffffff;
        transition: all 0.3s ease;
        text-transform: uppercase;
        margin-bottom: 13px;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;
            }
        }
    }

    &__list {
        & li {
            position: relative;
            padding-left: 20px;
            font-size: 12px;
            line-height: 1.2em;
            margin-bottom: 4px;

            @media (min-width: 992px) {
                &:hover {
                    & .footer__list-link {
                        color: #fff;
                    }

                    &:before {
                        background-color: #fff;
                    }
                }
            }
            &:before {
                position: absolute;
                content: "";
                top: 7px;
                left: 9px;
                height: 3px;
                width: 3px;
                background-color: $mainColor;
                transition: all 0.3s ease;
                border-radius: 50%;
            }
        }
    }

    &__list-link {
        font-size: 12px;
        line-height: 1.2em;
        text-decoration-line: underline;
        color: $mainColor;
        transition: all 0.3s ease;
    }

    &__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #ffffff;
        max-width: 245px;
        margin-bottom: 6px;
    }

    &__form {
    }

    &__phone {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        display: block;
        margin-bottom: 16px;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;
            }
        }
    }

    &__address {
        font-family: $roboto;
        font-style: normal;
        font-size: 12px;
        line-height: 129.5%;
        color: #ffffff;
        margin-bottom: 9px;

        & p {
            margin-bottom: 5px;
        }
    }

    &__email {
        font-family: $roboto;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        color: $mainColor;
        transition: all 0.3s ease;
        margin-bottom: 21px;
        display: block;
        @media (min-width: 992px) {
            &:hover {
                color: #fff;
                text-decoration-line: underline;
            }
        }
    }

    &__social {
        display: flex;

        & li {
            &:not(:last-child) {
                margin-right: 7px;
            }
            & a {
                cursor: pointer;
                opacity: 0.6;
                transition: all 0.3s ease;

                @media (min-width: 992px) {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            & img {
                height: 25px;
                width: auto;
            }
        }
    }

    &__bottom {
        border-top: 1px solid #5e616b;
        padding-top: 7px;

        @media (max-width: 575.98px) {
            border-top: none;
            display: flex;
            flex-direction: column;
        }
    }

    &__bottom-copy {
        font-family: $roboto;
        font-size: 11px;
        line-height: 13px;
        color: #ffffff;
        margin-right: 47px;

        @media (max-width: 575.98px) {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    &__bottom-link {
        font-family: $roboto;
        font-size: 11px;
        line-height: 13px;
        text-decoration-line: underline;
        color: $mainColor;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: #fff;
                text-decoration-line: underline;
            }
        }
    }
}

.subscribe-form {
    &__group {
        display: flex;
        margin-bottom: 8px;


        @media (min-width: 576px) {
            max-width: 254px;
        }
    }

    &__input {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        background: #ffffff;
        border-radius: 4px;
        height: 30px;
        margin-right: 5px;
        align-items: center;
        padding: 5px 7px;
        font-size: 12px;
        line-height: 150%;
        color: #5e616b;

        &::placeholder {
            font-size: 12px;
            line-height: 150%;
            color: #5e616b;
        }
    }

    &__submit {
        flex: 0 0 33px;
        background: #bca47c;
        border-radius: 4px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor2;
            }
        }
    }

    &__text {
        font-size: 11px;
        line-height: 150%;
        color: rgba(#fff, 0.5);
        & a {
            color: rgba(#fff, 0.5);
            text-decoration: underline;
            transition: all 0.3s ease;
            @media (min-width: 992px) {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
