.hero {
    margin-bottom: 31px;

    @media (max-width: $md3+px) {
        margin-bottom: 18px;
    }
    &__title {
        margin-bottom: 43px;

        @media (max-width: $md2+px) {
            margin-bottom: 20px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 12px;
        }
    }

    &__bottom {
        background: url('../img/photo/hero-bg.png');
        background-repeat: repeat;
    }

    &__body {

        @media (max-width: 1340px) {
            padding: 0 !important;
        }

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__logo {
        flex: 0 0 305px;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        min-height: 150px;

        @media (max-width: 1340px) {
            margin-left: 20px;
        }

        @media (max-width: $md3+px) {
            padding: 20px;
            margin: 0;

            &:empty {
                display: none;
            }
        }
        
        & img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__img {
        flex: 1 1 auto;
        min-height: 368px;

        @media (max-width: $md3+px) {
            min-height: 224px;
        }
    }
}
