.cabinet-registr {
    margin-bottom: 129px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }
    &__title {
        margin-bottom: 26px;
    }

    &__body {
        display: flex;
    
        @media (max-width: $md2+px) {
            flex-direction: column-reverse;
        }
    }

    &__content {

        padding: 34px 41px 34px;
        border: 1px dashed #C4C4C4;

        @media (min-width: 992px) {
            flex: 0 0 66.12%;
            margin-right: 25px;
        }

        @media (max-width: $md4+px) {
            padding: 30px 15px;
        }
    }

    &__text {
        margin-bottom: 45px;
    }

    &__form {
        max-width: 485px;

        & .form__item_valid  {
            margin-top: 44px;
        }
    }

    &__aside {
        margin-top: -10px;
        flex: 1 1 auto;

        @media (max-width: $md2+px) {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}
