.catalog-page-2, .catalog-page-3 {
    & .catalog.catalog_shop .catalog__list {
        & > li {
            flex: 0 1 100%;

            &:before {
                display: none;
            }

            @media (min-width: 992px) {
                &:hover {
                    & .p-card__title {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}
