.order {
    margin-bottom: 94px;
    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 63px;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }
    }

    &__body {
        @media (min-width: 992px) {
            display: flex;
        }
    }

    &__content {
        flex: 1 1 auto;

        & .box {
            margin-bottom: 6px;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 40px;
        }
    }

    &__aside {
        @media (min-width: 992px) {
            flex: 0 0 32.17%;
            margin-left: 25px;

            &._flex-end {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }

    &__box-1 {
    }

    &__title-3 {
        font-weight: bold;
        font-size: 26px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #5e616b;
    }

    &__link {
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        letter-spacing: -0.03em;
        color: $mainColor2;
        transition: all 0.3s ease;
        display: inline-block;
        border-bottom: 1px dashed $mainColor2;

        @media (min-width: 992px) {
            &:hover {
                color: $hover2;
                border-color: $hover2;
            }
        }
    }

    &__products {
        padding-top: 29px;
        & .catalog__list {
            margin-bottom: 14px;
            & > li {
                flex: 0 1 100%;

                &:before {
                    display: none;
                }

                @media (min-width: 992px) {
                    &:hover {
                        & .p-card__title {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }

    &__coupon {
        & .basket__coupon {
            max-width: 284px;
        }
    }

    &__btn-group {
        @media (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__btn-group-col-1 {
        margin-bottom: 10px;
        margin-right: 25px;
        flex: 0 0 auto;

        @media (max-width: $md4+px) {
            margin-right: 0;
        }
    }

    &__btn-group-col-2 {
        flex: 0 0 auto;
        margin-bottom: 10px;
        margin-left: auto;
    }

    &__btn {
        &.btn-default {
            min-width: 138px;

            @media (max-width: $md4+px) {
                width: 100%;
            }
        }
    }

    &__btn-back {
        &.btn-default {
            border: 1px solid #5e616b;
            background-color: transparent;
            color: #5e616b;
            min-width: 138px;
            @media (min-width: 992px) {
                &:hover {
                    color: #fff;
                }
            }

            @media (max-width: $md4+px) {
                width: 100%;
            }
        }
    }

    & .form__agreement {
        margin-top: 27px;
        margin-bottom: 10px;
    }

    & .form__submit.btn-default {
        min-height: 68px;
        min-width: 267px;
        font-size: 20px;

        @media (max-width: $md4+px) {
            width: 100%;
        }
    }
}

.border-bottom {
    padding-bottom: 13px;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 13px;
}

.box {
    border: 1px solid #8c8c8c;
    border-radius: 6px;

    &__head {
        background: #dcdcdc;
        border-radius: 6px 6px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
        flex-wrap: wrap;
    }

    &__col-1 {
        margin-right: 25px;
    }

    &__col-2 {
        flex: 0 0 auto;
    }

    &__content {
        padding: 20px 13px 11px;

        & .form__item {
            & + .order__btn-group {
                margin-top: 45px;
            }
        }
    }
}

.order-p-card {
    &.p-card-3 {
        padding-bottom: 16px;
        & .p-card__price {
            margin-right: 0;
            text-align: right;
            min-width: 145px;

            @media (max-width: $md3+px) {
                text-align: center;
            }
        }

        & .p-card-3__quantity {
            margin-right: 15px;
            flex: 0 0 auto;
        }
    }
}

.price-card {
    background: #f1f1f1;
    border-radius: 6px;
    padding-top: 41px;

    @media (min-width: 992px) {
        &._fixed {
            position: fixed;
            width: 100%;
            &._static {
                position: static;
            }
        }
    }

    @media (max-width: $md2+px) {
        max-width: none !important;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px 13px 0 10px;
    }

    &__item-text {
        flex: 0 0 auto;
        margin-right: 20px;
        font-size: 11px;
        line-height: 210%;
        letter-spacing: -0.03em;
        color: #8c8c8c;
    }

    &__item-num {
    }

    &__total {
        border-top: 1px solid #8c8c8c;
        padding: 0 10px 32px 20px;
        margin-top: 12px;

        & .basket__total {
            justify-content: space-between;
        }

        & .basket__total-col-1 {
            padding-top: 4px;
        }
    }
}

.order-search {
    margin-top: -5px;
    margin-bottom: 29px;
    &__label {
        display: block;

        & > span {
            display: block;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.03em;
            color: #676767;
            margin-bottom: 5px;
        }
    }

    &__input-wrap {
        position: relative;

        &:before {
            position: absolute;
            content: url("../img/icons/search-gray.svg");
            top: 56%;
            left: 10px;
            z-index: 2;
            transform: translateY(-50%);
        }
    }

    &__input {
        padding-left: 30px;
    }
}

.delivery {
    padding-bottom: 9px;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 18px;
    &__method {
        display: flex;
        overflow: auto;
        margin-left: -3px;
        margin-bottom: 13px;
        width: 100%;
    }

    &__method-item {
        display: inline-flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        min-height: 32px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.3em;
        letter-spacing: -0.03em;
        color: $mainColor2;
        position: relative;
        margin-right: 5px;
        transition: all 0.3s ease;
        white-space: nowrap;

        @media (min-width: 992px) {
            &:hover {
                &:not(.active) {
                    background-color: rgba($mainColor2, 0.1);
                }
            }
        }

        &:before {
            position: absolute;
            content: "";
            bottom: 3px;
            left: 50%;
            width: calc(100% - 24px);
            transform: translateX(-50%);
            border-bottom: 2px dashed $mainColor2;
        }

        &.active {
            background-color: #ededed;
            color: $mainColor;

            &:before {
                display: none;
            }
        }
    }

    &__map {
        background-color: #c4c4c4;
        height: 431px;
        margin-bottom: 13px;

        @media (max-width: $md3+px) {
            height: 300px;
        }

        & iframe {
            height: 100%;
            width: 100%;
        }
    }

    &__cost {
        text-align: right;
        padding-right: 10px;
        &:not(span) {
            font-weight: bold;
            font-size: 26px;
            line-height: 139%;
            letter-spacing: -0.03em;
            color: #5e616b;
        }

        & > span {
            font-size: 12px;
            line-height: 139%;
            letter-spacing: -0.03em;
            color: #5e616b;
            margin-right: 15px;
            font-weight: 400;
        }
    }

    &__addresses {
        display: flex;
        flex-wrap: wrap;
        padding-top: 21px;
    }

    &__addresses-item {
        min-height: 139px;
        width: 100%;
        max-width: 349px;
        margin-bottom: 15px;
        position: relative;
        padding: 21px 23px 15px 53px;
        cursor: pointer;
        display: flex;
        border: 1px solid #0E3C67;

        @media (max-width: $md4+px) {
            padding-left: 30px;
        }

        &:not(:last-child) {
            @media (min-width: 576px) {
                margin-right: 15px;
            }
        }

        & input[type="radio"] {
            display: none;

            &:checked {
                & ~ {
                    & .delivery__addresses-item-check-icon {
                        background-image: url("../img/icons/check.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-color: #e9e9e9;
                    }
                }
            }
        }
    }

    &__addresses-item-check-icon {
        background: #ffffff;
        border: 1px solid #dedede;
        border-radius: 2px;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 5px;
        left: 6px;
        z-index: 2;
    }

    &__addresses-item-icon {
        flex: 0 0 27px;
        margin-right: 14px;
        margin-top: 3px;

        & img {
            width: 100%;
        }
    }

    &__addresses-item-text {
    }

    &__addresses-item-address {
        font-weight: 500;
        font-size: 19px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #0c1b31;
        margin-bottom: 10px;
    }

    &__addresses-item-time {
        font-size: 14px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: $mainColor;
    }
}

.payment {
    padding-top: 5px;
    padding-bottom: 13px;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 13px;
    &__method {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 18px;
    }

    &__method-item {
        flex: 0 0 133px;
        margin-right: 18px;
        display: block;
        cursor: pointer;

        & input[type="radio"] {
            display: none;

            &:checked {
                & ~ {
                    & .payment__method-item-check-icon {
                        background-image: url("../img/icons/check.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-color: #e9e9e9;
                    }
                }
            }
        }
    }

    &__method-item-wrap {
        border: 1px solid #0e3c67;
        padding: 9px 24px 9px 40px;
        position: relative;
        margin-bottom: 10px;
        height: 73px;
    }

    &__method-item-check-icon {
        background: #ffffff;
        border: 1px solid #dedede;
        border-radius: 2px;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 5px;
        left: 6px;
        z-index: 2;
    }

    &__method-item-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        & img {
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            display: inline-block;
        }
    }

    &__method-item-title {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #676767;
        white-space: nowrap;
    }
}
