.address-block {
    padding: 44px 0 85px;
    background: rgba(#0c1b31, 0.1);

    @media (max-width: $md3+px) {
        padding-bottom: 39px;
    }

    &.address-block_v2 {

        &:not(.bg) {
            background: transparent;
            padding: 0;
            margin-bottom: 0;
        }


        @media (min-width: 768px) {
            & .address-block__body {
                display: block;
                margin: 0;
            }

            &:not(.bg) {
                & .address-block__title {
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 150%;
                    letter-spacing: -0.03em;
                    margin-bottom: 3px;
                    text-transform: none;
                }
            }

            & .address-block__item {
                display: flex;
                flex-direction: row;
                padding: 35px 0 0;
                border-top: 1px solid #c4c4c4;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            & .address-block__item-head {
                flex: 1 1 auto;
                padding-right: 20px;
            }

            & .address-block__item-map {
                flex: 0 0 65.5%;
            }
        }

        & .address-block__body {
            display: block;
            margin: 0;
        }

        & .address-block__item {
            padding: 35px 0 0;
            border-top: 1px solid #c4c4c4;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &.address-block_contact {
        & .address-block__item-head {
            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        & .address-block__title {
            @media (min-width: 768px) {
                font-size: 30px !important;
            }
        }

        & .address-block__item-icon {
            flex: 0 0 47px;
            margin-right: 9px;

            & img {
                transform: translateY(-26%);
            }
        }

        & .address-block__item {
            padding-top: 32px !important;
        }

        & .address-block__item-address {
            margin-bottom: 4px;
        }

        & .address-block__item-time {
            margin-bottom: 2px;
        }

        & .address-block__item-map {
            @media (min-width: 768px) {
                min-height: 340px;
                height: auto;
            }

            margin-top: 0;
        }
    }

    &__title {
        text-transform: uppercase;
        color: $mainColor2;
        margin-bottom: 37px;
    }

    &__body {
        margin: 0 -14px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 67px;
        padding: 0 14px;
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-head {
        display: flex;
        margin-bottom: 18px;
    }

    &__item-icon {
        flex: 0 0 27px;
        margin-right: 8px;
        margin-top: 4px;
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__item-text {
        flex: 1 1 auto;
    }

    &__item-address {
        font-weight: 500;
        font-size: 19px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #0c1b31;

        @media (max-width: $md4+px) {
            max-width: 200px;
        }

        & > p {
            margin-bottom: 0;
            & big {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }

    &__item-time {
        font-weight: normal;
        font-size: 14px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #bca47c;

        & table {
            margin: 0;
            width: auto;
            & td {
                font-size: 17px;
                line-height: 145%;
                letter-spacing: -0.03em;
                color: #bca47c;
                text-transform: uppercase;
                background-color: transparent !important;
                border: none !important;
                padding: 0;

                &:first-child {
                    text-align: right;
                }
                &:last-child {
                    padding-left: 4px;
                }
            }
        }
    }

    &__item-map {
        height: 341px;
        background-color: #c4c4c4;
        margin-top: auto;

        @media (max-width: $md3+px) {
            height: 436px;
        }

        & iframe {
            height: 100%;
            width: 100%;
        }
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.03em;
        text-decoration-line: underline;
        color: #0e3c67;
        font-weight: 500;
        transition: all .3s ease;
        margin-bottom: 7px;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
        &:before {
            content: "→";
        }
    }

    &__img {
        width: 100%;
        max-width: 310px;
        height: 196px;
    }
}

.contact {
    margin-bottom: 155px;
    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }
    &__title {
        margin-bottom: 57px;
    }
}
