.address-block {
    padding: 44px 0 85px;
    background: rgba(#0c1b31, 0.1);

    @media (max-width: $md3+px) {
        padding-bottom: 39px;
    }

    &.address-block_v2 {
        background: transparent;
        padding: 0;
        margin-bottom: 0;

        @media (min-width: 768px) {
            & .address-block__body {
                display: block;
                margin: 0;
            }

            & .address-block__title {
                font-weight: bold;
                font-size: 35px;
                line-height: 150%;
                letter-spacing: -0.03em;
                margin-bottom: 29px;
                text-transform: none;
            }
    

            & .address-block__item {
                display: flex;
                flex-direction: row;
                padding: 35px 0 0;
                border-top: 1px solid #c4c4c4;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
    
            & .address-block__item-head {
                flex: 1 1 auto;
                padding-right: 20px;
            }
    
            & .address-block__item-map {
                flex: 0 0 65.5%;
            }
        }

        & .address-block__body {
            display: block;
            margin: 0;
        }

        & .address-block__item {
            padding: 35px 0 0;
            border-top: 1px solid #c4c4c4;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

    }

    &__title {
        text-transform: uppercase;
        color: $mainColor2;
        margin-bottom: 37px;
    }

    &__body {
        margin: 0 -14px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 67px;
        padding: 0 14px;
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-head {
        display: flex;
        margin-bottom: 18px;
    }

    &__item-icon {
        flex: 0 0 27px;
        margin-right: 8px;
        margin-top: 4px;
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__item-text {
    }

    &__item-address {
        font-weight: 500;
        font-size: 19px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #0c1b31;

        @media (max-width: $md4+px) {
            max-width: 200px;
        }
    }

    &__item-time {
        font-weight: normal;
        font-size: 14px;
        line-height: 139%;
        letter-spacing: -0.03em;
        color: #bca47c;
    }

    &__item-map {
        height: 341px;
        background-color: #c4c4c4;
        margin-top: auto;

        @media (max-width: $md3+px) {
            height: 436px;
        }

        & iframe {
            height: 100%;
            width: 100%;
        }
    }
}
