.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(#00274a, 0.6);
	z-index: 502;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;

		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 70rem;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
	}
}

.popup-search {
	display: flex;
	background: #fff;
	align-items: center;
	border: 1px solid $mainColor;

	&__item {
		flex: 1 1 auto;

		&:last-child {
			flex: 0 0 22.1rem;

			@media (max-width: $md3+px) {
				flex: 0 0 10rem;
			}
		}
	}

	&__input {
		height: 6rem;
		padding: 1rem 2.7rem;
		width: 100%;
		&::placeholder {
			color: $mainColor;
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 0.12rem;
			text-transform: uppercase;
		}

		&:focus {
			color: $mainColor;
			//font-size: 1.35rem;
			letter-spacing: 0.08rem;
			font-weight: 500;
		}

		/*		@media (max-width: $md3+px) {
			height: 6rem;
			padding: 1rem 1.5rem;

			&::placeholder {
				color: #000000;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2rem;
				text-transform: uppercase;
			}

			&:focus {
				color: #000000;
				font-size: 1.4rem;
				font-weight: 500;
			}
		}*/
	}
	&__submit {
		height: 6rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $mainColor;
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 0.12rem;
		text-transform: uppercase;
		position: relative;
		background: #fff;
		transition: all 0.2s ease;

		&:active {
			background: rgba($mainColor, 0.2);
		}

		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			height: 70%;
			width: 2px;
			background: $mainColor;
			transform: translateY(-50%);
		}

		@media (min-width: 992px) {
			&:hover {
				background: $mainColor;
				color: #fff;
			}
		}

		/*		@media (max-width: $md3+px) {
			height: 6rem;
			font-size: 1.4rem;
			letter-spacing: 0.2rem;
		}*/
	}
}


.popup-form {
	&.popup-log-in {
		& .popup-form__submit {
			margin-bottom: 39px;
		}

		& .popup-form__content {
			padding-bottom: 22px;
		}
	}
	&__content {
		&.popup_content {
			background: #ffffff;
			box-shadow: 0px 22px 20px 6px rgba(0, 0, 0, 0.15);
			border-radius: 13px;
			max-width: 574px;
			position: relative;
			padding: 33px 45px 45px;
			text-align: left;
			overflow: hidden;

			@media (max-width: 575.98px) {
				padding: 40px 15px 25px;
			}
		}
	}

	&__close {
		position: absolute;
		padding: 5px;
		transition: all 0.3s ease;
		top: 15px;
		right: 15px;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba($mainColor2, 0.2);
			}
		}

		& > span {
			position: relative;
			width: 24px;
			height: 24px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 4px;
				height: 100%;
				background-color: $mainColor2;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 4px;
				background-color: $mainColor2;
			}
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__item {
		margin-bottom: 19px;
		&_valid {
			margin-top: 82px;
			margin-bottom: 24px;

			& .popup-form__label {
				display: grid;
				grid-template-columns: 198px 64px minmax(150px, 1fr);
				column-gap: 4px;
				row-gap: 10px;
				grid-auto-flow: row;

				& > span {
					grid-column: span 3;
					margin-bottom: -3px;
				}

				@media (max-width: 575.98px) {
					grid-template-columns: 198px 40px;
					& .popup-form__input {
						grid-column: span 2;
					}
				}
			}
		}

		&_flex {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 5px;
			margin-bottom: 38px;

			& > * {
				flex: 0 0 auto;
				margin-bottom: 10px;
			}

			& .checkbox-wrap {
				margin-right: 20px;
			}
		}
	}

	&__link {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: -0.03em;
		color: $mainColor2;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				color: $hover2;
			}
		}
	}

	&__checkbox {
		& .checkbox-wrap__label {
			font-size: 14px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: #676767;

			&:before {
				margin-top: 2px;
			}
		}
	}

	&__label {
	}

	&__input {
	}

	&__textarea {
	}

	&__valid-img {
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;

		& img {
			width: 100%;
			height: 100%;
		}
	}

	&__reload {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $mainColor2;
		height: 39px;
		width: 39px;
		flex: 0 0 39px;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				background-color: #9d8660;
			}
		}
	}

	&__submit {
		margin-bottom: 5px;
	}

	&__agreement {
		font-size: 13px;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: #8c8c8c;

		& > a {
			counter-reset: $mainColor2;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $hover2;
				}
			}
		}
	}

	&__footer {

		position: relative;
		padding: 43px 0 0px;
		align-items: center;
		z-index: 10;

		@media (min-width: 480px) {
			display: flex;
		}

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% + 100px);
			height: calc(100% + 100px);
			background: #e3e3e3;
			z-index: -1;
		}

		& .popup-form__btn {
			flex: 0 0 auto;
			margin-right: 34px;
			margin-bottom: 15px;
		}

		& .popup-form__text {
			flex: 1 1 auto;
			margin-bottom: 15px;
		}
	}

	&__btn {
		&.btn-default.btn-default_white {
			color: #5e616b;
			border-color: #5e616b;
		}
	}

	&__text {
		font-size: 12px;
		line-height: 145%;
		letter-spacing: -0.03em;
		color: #8c8c8c;
	}

	& .social {
		margin-bottom: 29px;
	}
}
